*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    font-weight: bold;border: 1px solid gray;
    padding: 10px 20px;
}

.image-hero{
    margin-left: 270px;
    margin-top: 60px;
}

.hero-co{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.hero-co h3{
    font-size: 25px;
} 

.bate-text{
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.para{
    width: 810px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.tag-h3{
    width: 810px;
    margin: 0 auto;
}
.section1{
    width: 810px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;

}
.section2{
    width: 810px;
    margin: 0 auto;

}

.section2 h3{
    margin-bottom: 10px;

}

.section2 p{
    margin-bottom: 40px;
}

footer{
    display: flex;
    justify-content: space-between;
    
    margin: 0 auto;
    margin-top: 0px;
   border: 1px gray solid;
    font-weight: bold;
    padding: 20px 15px;
    margin-bottom: 20px;
}


ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
